/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use a modern font */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

/* Navigation styles */
#navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}



.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #141313;
  
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 28px;
  color: #333;
  margin: 0;
}

.header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Content styles */
.content {
  margin-top: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.highlight {
  background-color: #ffd700;
  padding: 2px 4px;
  color: #333;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Contact Form styles */
h2 {
  font-size: 24px;
  margin-top: 0;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #004a8c;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header img {
    width: 80px;
    height: 80px;
  }

  .nav-links li {
    margin-left: 10px;
  }

  input[type="email"],
  textarea {
    font-size: 14px;
  }
}
